@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


.recent-page {
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 60px - 97px); /* 전체 높이 - 상단 배너 - 하단 배너(MusicPlayer) */
    font-family: 'Inter', sans-serif;
}

/* 다크모드 관련 */
.recent-page.dark-mode {
  background-color: #262626;
}

.recent-page.dark-mode .recent-song-item {
  border-bottom: 1px solid gray;
}

.recent-page.dark-mode .recent-song-info {
  color: white;
}

.recent-page.dark-mode .recent-song-duration {
  color: #d0d0d0;
}

.recent-section-title {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #009dff, #8000ff);
  color: transparent;
  font-weight: 700;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  width: fit-content;
}
  
.recent-song-list {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}
  
.recent-song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* 각 곡 사이의 구분선 */
  cursor: pointer;
}
  
.recent-song-image {
  width: 50px; /* 이미지 크기 */
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}
  
.recent-song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
 
.recent-song-detail{
  display: flex;
  flex-direction: column;
}

.recent-song-title {
  font-size: 16px;
}

.recent-song-writer{
  font-size: 14px;
}

.recent-song-duration {
  font-size: 14px;
  color: #999;
  align-content: center;
}
