/* https://uiverse.io/Galahhad/happy-dodo-17 */

.slider {
    /* slider */
    --slider-width: 100%;          /* 슬라이더의 너비 */
    --slider-height: 6px;          /* 슬라이더의 높이 */
    --slider-bg: #c0c0c0;  /* 슬라이더의 배경색 */
    --slider-border-radius: 999px; /* 슬라이더의 둥글기 정도 */
    /* level */
    --level-color: #fff;           /* 슬라이더의 진행 부분 색상 */
    --level-transition-duration: .1s; /* 슬라이더 높이 전환 시간 */
  }
  
  .slider {
    position: relative;
    cursor: pointer;                     /* 마우스 커서 변경 */
    display: inline-flex;                /* 수평 정렬을 위한 flexbox 사용 */
    align-items: center;                 /* 수직 중앙 정렬 */
    bottom: 5px;
    padding-left: 10px;
  }
  
  .slider .level {
    appearance: none;                    /* 브라우저 기본 스타일 제거 */
    width: var(--slider-width);          /* 슬라이더 너비 설정 */
    height: var(--slider-height);        /* 슬라이더 높이 설정 */
    background: var(--slider-bg);        /* 슬라이더 배경색 설정 */
    overflow: hidden;                    /* 넘치는 내용 숨김 */
    border-radius: var(--slider-border-radius); /* 슬라이더 둥글기 설정 */
    transition: height var(--level-transition-duration); /* 슬라이더 높이 전환 애니메이션 */
    cursor: inherit;                     /* 부모의 커서 스타일 상속 */
  }
  
  .slider .level::-webkit-slider-thumb {
    appearance: none;                    /* 브라우저 기본 스타일 제거 */
    width: 0;                            /* 슬라이더 핸들 너비 */
    height: 0;                           /* 슬라이더 핸들 높이 */
    box-shadow: -200px 0 0 200px var(--level-color); /* 슬라이더의 진행 부분을 색칠 */
  }
  
  .slider:hover .level {
    height: calc(var(--slider-height) * 1.5); /* 마우스 호버 시 슬라이더 높이 증가 */
  }
  